Source: backdoor-factory
Section: utils
Priority: extra
Maintainer: Debian Security Tools Packaging Team <pkg-security-team@lists.alioth.debian.org>
Uploaders: Philippe Thierry <phil@reseau-libre.net>
Build-Depends:
  go-md2man,
  dh-python,
  pkg-config,
  curl,
  debhelper (>= 10),
  python (>= 2.7)
Standards-Version: 3.9.8
Testsuite: autopkgtest
XS-Python-Version: >= 2.7
Homepage: https://github.com/secretsquirrel/the-backdoor-factory
Vcs-Git: https://anonscm.debian.org/git/pkg-security/backdoor-factory.git
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-security/backdoor-factory.git

Package: backdoor-factory
Architecture: all
Depends:
  ${misc:Depends},
  ${python:Depends},
  curl,
  python,
  python-capstone (>= 3.0),
  python-pefile,
  osslsigncode
Description: Patch win32/64 binaries with shellcode
 Injects shellcode into win32/64 PE files, to continue normal file execution (if 
 the shellcode supports it), by patching the exe/dll directly.
 .
 Some executables have built in protections, as such this will not work on all 
 PE files. It is advisable that you test target PE files before deploying them 
 to clients or using them in exercises
