#!/usr/bin/make -f

# testing target arch.
export DEB_TARGET_ARCH = $(shell dpkg-architecture -qDEB_TARGET_ARCH)
# redirect module to correct dist-packages dir
export PYBUILD_INSTALL_ARGS=--install-lib=/usr/lib/python2.7/dist-packages

# get back current tag release notes from GitHub
mkrelease:
	quilt push changelog.patch
	debian/lib/release.py
	dos2unix changelog
	quilt refresh
	quilt pop -a
	@echo
	@echo This target is made to fail intentionally, to make sure
	@echo that it is NEVER run during the automated build. Please
	@echo ignore the following error, the changelog file has been
	@echo generated SUCCESSFULLY.
	@echo
	exit 1


override_dh_auto_build:
	dh_auto_build -O--buildsystem=pybuild
	go-md2man -in debian/backdoor-factory.1.md -out debian/backdoor-factory.1

# using pybuild for install
# backdoor.py is properly named backdoor-factory
# pyc and egg-info files are cleaned
override_dh_install:
	dh_install -O--buildsystem=pybuild
	mv $(CURDIR)/debian/backdoor-factory/usr/bin/backdoor.py $(CURDIR)/debian/backdoor-factory/usr/bin/backdoor-factory
	rm $(CURDIR)/debian/backdoor-factory/usr/lib/python2.7/dist-packages/backdoor_factory/*.pyc
	rm $(CURDIR)/debian/backdoor-factory/usr/lib/python2.7/dist-packages/intel/*.pyc
	rm $(CURDIR)/debian/backdoor-factory/usr/lib/python2.7/dist-packages/arm/*.pyc
	rm $(CURDIR)/debian/backdoor-factory/usr/lib/python2.7/dist-packages/onionduke/*.pyc
	rm $(CURDIR)/debian/backdoor-factory/usr/lib/python2.7/dist-packages/winapi/*.pyc
	rm $(CURDIR)/debian/backdoor-factory/usr/lib/python2.7/dist-packages/preprocessor/*.pyc
	rm $(CURDIR)/debian/backdoor-factory/usr/lib/python2.7/dist-packages/backdoor_factory*.egg-info

%:
	dh $@ --with python2 --buildsystem=pybuild
