#!/usr/bin/make -f

# testing target arch.
export DEB_TARGET_ARCH = $(shell dpkg-architecture -qDEB_TARGET_ARCH)

# redirect module to correct dist-packages dir
#export PYBUILD_INSTALL_ARGS=--install-lib=/usr/lib/python2/dist-packages

override_dh_auto_install:
	dh_auto_install --sourcedirectory=./osslsigncode
#	dh_install -O--buildsystem=pybuild

override_dh_auto_configure:
	$(shell cd $(CURDIR)/osslsigncode && ./autogen.sh 2>&1 > /dev/null)
	dh_auto_configure --sourcedirectory=./osslsigncode

override_dh_auto_build:
	dh_auto_build --sourcedirectory=i./osslsigncode

override_dh_auto_test:
	dh_auto_test --sourcedirectory=./osslsigncode

override_dh_auto_clean:
	dh_auto_clean --sourcedirectory=./osslsigncode

# get back current tag release notes from GitHub
mkrelease:
	quilt push changelog.patch
	debian/lib/release.py
	dos2unix changelog
	quilt refresh
	quilt pop -a
	@echo
	@echo This target is made to fail intentionally, to make sure
	@echo that it is NEVER run during the automated build. Please
	@echo ignore the following error, the changelog file has been
	@echo generated SUCCESSFULLY.
	@echo
	exit 1


%:
	dh $@
